<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="dbAUTOGEMINIEntities" connectionString="metadata=res://*/dbGráfico.csdl|res://*/dbGráfico.ssdl|res://*/dbGráfico.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQO-036\SQLEXPRESS;initial catalog=dbAUTOGEMINI;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="dbProject_AUTOGEMINIEntities" connectionString="metadata=res://*/ProjetoGrafico.csdl|res://*/ProjetoGrafico.ssdl|res://*/ProjetoGrafico.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQO-036\SQLEXPRESS;initial catalog=dbAUTOGEMINI;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="dbAUTOGEMINIEntities1" connectionString="metadata=res://*/Project_AUTOGEMINI.csdl|res://*/Project_AUTOGEMINI.ssdl|res://*/Project_AUTOGEMINI.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQO-036\SQLEXPRESS;initial catalog=dbAUTOGEMINI;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="dbAUTOGEMINIEntities2" connectionString="metadata=res://*/Project_GraphicAUTOGEMINI.csdl|res://*/Project_GraphicAUTOGEMINI.ssdl|res://*/Project_GraphicAUTOGEMINI.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQO-036\SQLEXPRESS;initial catalog=dbAUTOGEMINI;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="dbAUTOGEMINIEntities3" connectionString="metadata=res://*/dbAUTOGEMINI.csdl|res://*/dbAUTOGEMINI.ssdl|res://*/dbAUTOGEMINI.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQO-036\SQLEXPRESS;initial catalog=dbAUTOGEMINI;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="dbAUTOGEMINIEntities4" connectionString="metadata=res://*/GRAFICOAUTOGEMINI.csdl|res://*/GRAFICOAUTOGEMINI.ssdl|res://*/GRAFICOAUTOGEMINI.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQO-036\SQLEXPRESS;initial catalog=dbAUTOGEMINI;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="dbAUTOGEMINIEntities5" connectionString="metadata=res://*/Modelo_Dados.csdl|res://*/Modelo_Dados.ssdl|res://*/Modelo_Dados.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQO-036\SQLEXPRESS;initial catalog=dbAUTOGEMINI;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>